{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %}
    <div class="text-muted">{% if category %}{{ category.name }}{% endif %}</div>
{% endblock %}

{% block content %}

{##}
{##}
{##}
{#<div id="main" class="product-list">#}
{#    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>#}
{#        {% for product in products %}#}
{#        <div class="item" style="width: 18rem;">#}
{#            {% thumbnail product.image "125x125" as im %}#}
{#               <a href="{{ product.get_absolute_url }}">#}
{#                <img class="card-img-top" src="{% if product.image %}{{ im.url }}{% else %}{% endif %}" alt="Card image cap">#}
{#               </a>#}
{#            {% endthumbnail %}#}
{#            <div class="card-body">#}
{#            <h5 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>#}
{#            <h6>{{ product.description }}</h6>#}
{#                <div class="def-number-input number-input safari_only text-center mb-4">#}
{#                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>#}
{#                  <input class="quantity" min="0" name="quantity" value="1" type="number">#}
{#                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        {% endfor %}#}
{#</div>#}
{#</section>#}

<div class="container ">
    <h3>Filter:</h3>
    <form method="get">
        {{ myFilter.form|crispy }}
    <button type="submit" class="btn btn-secondary btn-sm">Search</button>
    </form>
    <h2 class="text-muted text-center" style="margin-bottom: 20px">Catalog</h2>
    <div class="row d-flex justify-content-center">
        {% for product in products %}
        <div class="col-auto mb-6 ">
            <div class="card-bordless mb-4" style="width: 18rem;">
                {% thumbnail product.image "250x250" as im %}
                <div class="product-image align-self-center">
                    <a href="{{ product.get_absolute_url }}">
                        <img class="pic-1" src="{% if product.image %}{{ im.url }}{% else %}default.jpg{% endif %}">
                    </a>
                </div>
                {% endthumbnail %}

                <div class="product-content align-self-center">
                    <h3 class="title align-self-center"><a href="{{ product.get_absolute_url }}" style="color:black">{{ product.name }}</a></h3>
                    <a href="{{ product.category.get_absolute_url }}" class="badge badge-primary">{{ product.category }}</a>
                    <span class="badge badge-secondary align-self-center">{{ product.type }}</span>
                    <div class="text-muted">{{product.description}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}