{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
{% include 'navbar.html' %}
<body>
    <div class="row">
        <div class="col-md-8">
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
        {% block content %}

        {% endblock %}
{% include 'scripts.html' %}
</body>
{% include 'footer.html' %}
</html>